.winning-line {
  position: absolute;
  border-radius: 100px;
  background-color: transparent;
  width: 10px;
  height: 100%;
  overflow: hidden;
  display: block;
  transform-origin: top;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.winning-line > .draw {
  height: 100%;
  width: 100%;
  will-change: height;
  animation: draw 500ms cubic-bezier(0.5,1.8,0.1);
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: draw;
  display: block;
  border-radius: 100px;
}

.winning-line > .player {
  background-color: #39DB80;
}

.winning-line > .opponent {
  background-color: #cc0000;
}

@keyframes draw {
  from {
    height: 0;
  }
  to {
    height: 100%
  }
}
